<template>
    <div>
        <b-row class="center-form">
            <b-col sm="12" lg="10" class="no-padding">
                <b-form @submit="onSubmit" class="one-row-form">

                    <b-container class="container-margin">
                        <b-row>
                            <b-col sm="12">
                                <treeselect 
                                    :options="sportField"
                                    v-model="selectedSportField"
                                    :placeholder="sportPlaceholder"
                                    multiple="true"
                                    :searchable="searchable"
                                    :noOptionsText="noOptionsText"
                                    :close-on-select="false"
                                    :clear-on-select="false">
                                </treeselect>
                            </b-col>
                        </b-row>
                    </b-container>

                    <b-container class="container-margin">
                        <b-row class="age-row">
                            <!-- <b-col class="pr-1 col-6"><b-form-input id="age-from" type="text" v-model="selectedAgeFrom" :placeholder="ageFromPlaceholder"></b-form-input></b-col>
                            <b-col class="pl-1 col-6"><b-form-input id="age-to" type="text" v-model="selectedAgeTo" :placeholder="ageToPlaceholder"></b-form-input></b-col> -->
                            <b-col sm="12"><b-form-input id="age" type="text" v-model="selectedAge" placeholder="Âge"></b-form-input></b-col>
                        </b-row>
                    </b-container>

                    <b-container class="container-margin">
                        <b-row>
                            <b-col sm="12">
                                <treeselect 
                                    :options="periodField"
                                    v-model="selectedPeriodField"
                                    :placeholder="periodPlaceholder"
                                    multiple="true"
                                    :searchable="searchable"
                                    :noOptionsText="noOptionsText"
                                    :close-on-select="false"
                                    :clear-on-select="false">
                                </treeselect>
                            </b-col>
                        </b-row>
                    </b-container>
                                      
                    <div class="container-margin align-button-container">
                        <b-button class="submit-button" type="submit" variant="primary">{{ translate('Search') }}</b-button>
                    </div>

                </b-form>
                
                <div>
                    <p class="advanced-search">{{ translate('If you want, use our') }} <b-link href="../activity">{{ translate( 'advanced search' ) }}</b-link></p>
                </div>

            </b-col>
        </b-row>
    </div>
</template>

<script>
import WpApi from '../services/api-abstract/wp-api.js';
import TranslationMixin from '../../services/translation/translation.js';
import Treeselect from '@riophae/vue-treeselect';
import '@riophae/vue-treeselect/dist/vue-treeselect.css'
export default {
    mixins: [TranslationMixin],
    
    components: {
        Treeselect,
    },
    data(){
        return {
            selectedPostType: 'activity',
            /* selectedAgeFrom: null,
            selectedAgeTo: null, */
            selectedAge: null,
            selectedPeriodField: null,
            selectedSportField: null,
            sportField: {},
            showFieldFinish: [],
        }
    },
    methods: {
        onSubmit ( evt ) {
            evt.preventDefault();
            let formData = {
                'selectedPostType': this.selectedPostType,
                'selectedSportField': this.selectedSportField ? this.selectedSportField : '',
                'selectedAge': this.selectedAge ? this.selectedAge : '',
                /* 'selectedAgeFrom': this.selectedAgeFrom ? this.selectedAgeFrom : 0,
                'selectedAgeTo': this.selectedAgeTo ? this.selectedAgeTo : 99, */
                'selectedPeriodField': this.selectedPeriodField ? this.selectedPeriodField : '',
            };
            window.location = '../'+formData.selectedPostType+'?sport_id='+formData.selectedSportField+'&age='+formData.selectedAge+'&period_id='+formData.selectedPeriodField; /* '&age_from='+formData.selectedAgeFrom+'&age_to='+formData.selectedAgeTo */
        },
        showActivityAcfFields( val ) {
            WpApi.getAjax( 'activity_acf_fields_vue_form', { 'selectedPostType': val } ).then( res => {
                let returnedData = res['data']['data'];
                this.activityAcfField = returnedData['inputActivityAcf'];
            });
        },
        showTaxonomies( val ) {
            WpApi.getAjax( 'post_taxonomies_vue_form', { 'postTaxonomy': val } ).then( res => {
                let returnedData = res['data']['data'];
                if( val == 'activitycat' ) {
                    this.periodField = returnedData['taxFields'];
                }          
            });
        },
        showFields( val ) {
            WpApi.getAjax( 'post_fields_vue_form', { 'postType': val } ).then( res => {
                let returnedData = res['data']['data'];
                if( val == 'sport' ) {
                    this.sportField = returnedData['postFields'];
                } else if( val == 'infrastructure' ) {
                    this.infrastructureField = returnedData['postFields'];
                } else if( val == 'club' ) {
                    this.clubField = returnedData['postFields'];
                }
                this.showFieldFinish.push( val );
            });
        },
    },
    computed: {
        beforeMountFinish() {
            let bool = true;
            let values = [ 'sport' ];
            values.forEach( element => {
                if( !this.showFieldFinish.includes( element ) ){
                    bool = false;
                }
            });
            return bool;
        },
        sportPlaceholder() {
            return this.translate('Sport');
        },
        ageFromPlaceholder() {
            return this.translate('Age from');
        },
        ageToPlaceholder() {
            return this.translate('Age to');
        },
        periodPlaceholder() {
            return this.translate('Period');
        },
    },
    beforeMount() {
        this.showFieldFinish = [];
        this.showActivityAcfFields( this.selectedPostType.toLowerCase() );
        this.showTaxonomies( 'activitycat' );
        this.showFields( 'sport' );
    },
}
</script>

<style>
    .no-padding {
        padding: 0;
    }
    .center-form {
        display: flex;
        justify-content: center;
    }
    .align-button-container {
        text-align: left;
    }
    .submit-button:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        content: "\f002";
        margin-right: 10px; 
    }
</style>