<template>
    <div>
        <table class="table table-striped activity-search-days-table">
            <thead class="table-head">
                <tr>
                    <th></th>
                    <th>{{ translate('Morning') }}</th>
                    <th>{{ translate('Afternoon') }}</th>
                    <th>{{ translate('Evening') }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ translate('All') }}</td>
                    <td class="hour-checkbox" v-bind:class="{selected: isCheckAllMorning}" @click="selectAllMorning()">
                        <label class="form-checkbox unchecked" v-bind:class="{checked: isCheckAllMorning}">
                            <input type="checkbox" v-model="isCheckAllMorning">
                        </label>
                    </td>
                    <td class="hour-checkbox" v-bind:class="{selected: isCheckAllAfternoon}" @click="selectAllAfternoon()">
                        <label class="form-checkbox">
                            <input type="checkbox" v-model="isCheckAllAfternoon">
                        </label>
                    </td>
                    <td class="hour-checkbox" v-bind:class="{selected: isCheckAllEvening}" @click="selectAllEvening()">
                        <label class="form-checkbox">
                            <input type="checkbox" v-model="isCheckAllEvening">
                        </label>
                    </td>
                </tr>
                <tr v-for="( day, index ) in daysHoursItems" :key="index">
                    <td class="capitalize-label">{{translate(index)}}</td>
                    <td class="hour-checkbox" v-bind:class="{selected: day.morning}" @click="day.morning = !day.morning">
                        <label class="form-checkbox">
                            <input type="checkbox" :value="day.morning" v-model="day.morning" >
                        </label>
                    </td>
                    <td class="hour-checkbox" v-bind:class="{selected: day.afternoon}" @click="day.afternoon = !day.afternoon">
                        <label class="form-checkbox">
                            <input type="checkbox" :value="day.afternoon" v-model="day.afternoon">
                        </label>
                    </td>
                    <td class="hour-checkbox" v-bind:class="{selected: day.evening}" @click="day.evening = !day.evening">
                        <label class="form-checkbox">
                            <input type="checkbox" :value="day.evening" v-model="day.evening">
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>    
</template>

<script>
import TranslationMixin from '../../services/translation/translation.js';
export default {
    mixins: [TranslationMixin],

    data() {
        return {
            daysHoursItems: {
                monday: { morning: false, afternoon: false, evening: false },
                tuesday: { morning: false, afternoon: false, evening: false },
                wednesday: { morning: false, afternoon: false, evening: false },
                thursday: { morning: false, afternoon: false, evening: false },
                friday: { morning: false, afternoon: false, evening: false },
                saturday: { morning: false, afternoon: false, evening: false },
                sunday: { morning: false, afternoon: false, evening: false },
            },
        }
    },
    methods: {
        translations() {
            //this.translate('monday');
            //this.translate('tuesday');
            //this.translate('wednesday');
            //this.translate('thursday');
            //this.translate('friday');
            //this.translate('saturday');
            //this.translate('sunday');
        },
        selectAllMorning: function() {
            if( this.isCheckAllMorning ) { 
                for( const day in this.daysHoursItems ) {
                    if (this.daysHoursItems.hasOwnProperty(day)) {
                        const row = this.daysHoursItems[day];
                        row.morning = false;
                    }
                }
            } else {
                for( const day in this.daysHoursItems ) {
                    if (this.daysHoursItems.hasOwnProperty(day)) {
                        const row = this.daysHoursItems[day];
                        row.morning = true;
                    }
                }
            }
        },
        selectAllAfternoon: function() {
            if( this.isCheckAllAfternoon ) { 
                for( const day in this.daysHoursItems ) {
                    if (this.daysHoursItems.hasOwnProperty(day)) {
                        const row = this.daysHoursItems[day];
                        row.afternoon = false;
                    }
                }
            } else {
                for( const day in this.daysHoursItems ) {
                    if (this.daysHoursItems.hasOwnProperty(day)) {
                        const row = this.daysHoursItems[day];
                        row.afternoon = true;
                    }
                }
            }
        },
        selectAllEvening: function() {
            if( this.isCheckAllEvening ) { 
                for( const day in this.daysHoursItems ) {
                    if (this.daysHoursItems.hasOwnProperty(day)) {
                        const row = this.daysHoursItems[day];
                        row.evening = false;
                    }
                }
            } else {
                for( const day in this.daysHoursItems ) {
                    if (this.daysHoursItems.hasOwnProperty(day)) {
                        const row = this.daysHoursItems[day];
                        row.evening = true;
                    }
                }
            }
        },
    },
    computed: {
        isCheckAllMorning() {
            let comparator = true;
            for (const day in this.daysHoursItems) {
                if (this.daysHoursItems.hasOwnProperty(day)) {
                    const row = this.daysHoursItems[day];
                    comparator = row.morning && comparator;
                }
            }
            return comparator;
        },
        isCheckAllAfternoon() {
            let comparator = true;
            for (const day in this.daysHoursItems) {
                if (this.daysHoursItems.hasOwnProperty(day)) {
                    const row = this.daysHoursItems[day];
                    comparator = row.afternoon && comparator;
                }
            }
            return comparator;
        },
        isCheckAllEvening() {
            let comparator = true;
            for (const day in this.daysHoursItems) {
                if (this.daysHoursItems.hasOwnProperty(day)) {
                    const row = this.daysHoursItems[day];
                    comparator = row.evening && comparator;
                }
            }
            return comparator;
        },
    },
    watch: {
        daysHoursItems: {
            handler( val, oldVal ) {
                this.$emit( 'input', this.daysHoursItems );
            },
            deep: true
        },

    }
}
</script>

<style>
    .activity-search-days-table {
        border: 1px solid gray;
    }

    .activity-search-days-table tr {
        border: 1px solid gray;
    }

    .activity-search-days-table .table-head {
        color: white;
        background-color: gray;
        font-weight: 400;
    }

    .activity-search-days-table .hour-checkbox {
        text-align: center !important;
    }

    .activity-search-days-table th {
        padding: 5px;
        font-size: 0.85rem;
        text-align: center;
        font-weight: 400;
    }

    .activity-search-days-table td {
        padding: 5px 10px !important;
        border: 0px !important;
        cursor: pointer;
        font-size: 0.8rem;
    }

    .activity-search-days-table td label {
        margin: 0px;
    }

    .activity-search-days-table .capitalize-label {
        text-transform: capitalize;
    }

    .selected {
        background-color: green;
    }
</style>