<template>
    <div>
        <b-row>
            <b-col sm="12" lg="3">
                <p class="activity-search-form-title">{{ translate('Advanced search') }}</p>
                <b-form @keydown.enter="onSubmit( $event, currentPage )">

                    <b-container fluid class="container-margin">
                        <b-row>
                            <b-col sm="12">
                                <treeselect class="treeselect-activity-form"
                                    :options="sportField"
                                    v-model="formData.selectedSportField"
                                    :placeholder="sportPlaceholder"
                                    multiple="true"
                                    :searchable="searchable"
                                    :noOptionsText="noOptionsText"
                                    :appendToBody="true"
                                    :close-on-select="false"
                                    :clear-on-select="false">
                                </treeselect>
                            </b-col>
                        </b-row>
                    </b-container>

                    <b-container fluid class="container-margin">
                        <b-row class="age-row">
                            <!-- <b-col sm="6" class="pr-1"><b-form-input id="age-from" type="text" v-model="formData.selectedAgeFrom" :placeholder="ageFromPlaceholder"></b-form-input></b-col>
                            <b-col sm="6" class="pl-1"><b-form-input id="age-to" type="text" v-model="formData.selectedAgeTo" :placeholder="ageToPlaceholder"></b-form-input></b-col> -->
                            <b-col sm="12"><b-form-input id="age" type="text" v-model="formData.selectedAge" placeholder="Âge"></b-form-input></b-col>
                        </b-row>
                    </b-container>

                    <b-container fluid class="container-margin">
                        <b-row>
                            <b-col sm="12">
                                <treeselect class="treeselect-activity-form"
                                    :options="periodField"
                                    v-model="formData.selectedPeriodField"
                                    :placeholder="periodPlaceholder"
                                    multiple="true"
                                    :searchable="searchable"
                                    :noOptionsText="noOptionsText"
                                    :appendToBody="true"
                                    :close-on-select="false"
                                    :clear-on-select="false">
                                </treeselect>
                            </b-col>
                        </b-row>
                    </b-container>

                    <!-- <b-container fluid class="container-margin">
                        <b-row>
                            <b-col sm="12">
                                <treeselect class="treeselect-activity-form"
                                    :options="levelField"
                                    v-model="formData.selectedLevelField"
                                    :placeholder="levelPlaceholder"
                                    multiple="true"
                                    :searchable="searchable"
                                    :noOptionsText="noOptionsText"
                                    :appendToBody="true"
                                    :close-on-select="false"
                                    :clear-on-select="false">
                                </treeselect>
                            </b-col>
                        </b-row>
                    </b-container> -->

                    <b-container fluid class="container-margin">
                        <b-row>
                            <b-col sm="12">
                                <treeselect class="treeselect-activity-form"
                                    :options="clubField"
                                    v-model="formData.selectedClubField"
                                    :placeholder="clubPlaceholder"
                                    multiple="true"
                                    :searchable="searchable"
                                    :noOptionsText="noOptionsText"
                                    :appendToBody="true"
                                    :close-on-select="false"
                                    :clear-on-select="false">
                                </treeselect>
                            </b-col>
                        </b-row>
                    </b-container>

                    <b-container fluid class="container-margin">
                        <activity-days-hours-table v-model="formData.daysHoursItems"></activity-days-hours-table>
                    </b-container>
                                      
                    <b-container fluid class="container-margin align-center">
                        <b-button class="submit-button" @click="onSubmit( $event, currentPage )" variant="primary">{{ translate('Filter results') }}</b-button>
                    </b-container>

                </b-form>
            </b-col>
        
            <b-col sm="12" lg="9">
                <b-container fluid class="px-0">
                    <div v-if="!loading">
                        <p>{{ translate('Loading...') }}</p>
                    </div>
                    <div v-if="loading && totalPosts[currentPage] && totalPosts[currentPage].length > 0">
                        <b-col :current-page="currentPage" :per-page="perPage">
                            <b-row>
                                <div class="wrapper-activity-form-card col-lg-4 col-md-6 col-12" v-for="( post, index ) in totalPosts[currentPage]" :key="index">
                                    <b-card class="activity-card" no-body
                                        v-bind:img-src="post.thumbnail_url"
                                        img-fluid
                                        img-top>
                                        <b-card-body>
                                            <b-link :to="post.post_url">
                                                <h4 class="card-title" v-html="post.post_title"></h4>
                                            </b-link>
                                            <div v-if="showSport">
                                                <p class="card-sport">{{ translate('Sport') }}: <span class="card-sport-names" v-html="displaySport(post.linked_sport)"></span></p>
                                            </div>
                                            <div v-if="showClub">
                                                <p class="card-club">{{ translate('Club') }}: <span class="card-club-names" v-html="displayClub(post.linked_club)"></span></p>
                                            </div>
                                            <p class="card-period" v-if="checkCategories(post.post_categories)"><span class="card-period-names" v-html="displayCategories(post.post_categories)"></span></p>
                                            <p class="card-date" v-if="checkDays(post.activity_days)"><span class="card-date-names" v-html="displayDays(post.activity_days)"></span></p>
                                            <p class="card-infrastructure" v-if="checkInfrastructure(post.linked_infrastructure)"><span class="card-infrastructure-names" v-html="displayInfrastructures(post.linked_infrastructure)"></span></p>
                                            <p class="card-text" v-html="post.post_excerpt"></p>
                                        </b-card-body>
                                    </b-card>
                                </div>
                            </b-row>
                        </b-col>
                    </div>
                    <div v-if="noPosts">
                        <p>{{ translate('No activities found') }}</p>
                    </div>
                    <br>
                    <b-pagination align="center" :first-text="firstText" :prev-text="previousText" :next-text="nextText" :last-text="lastText" :total-rows="foundPosts" v-model="currentPage" :per-page="perPage" />
                </b-container>
            </b-col>
        </b-row>
    </div>
</template>

<script>
import WpApi from '../services/api-abstract/wp-api.js';
import ActivityDaysHoursTable from './ActivityDaysHoursTable.vue';
import TranslationMixin from '../../services/translation/translation.js';
import Treeselect from '@riophae/vue-treeselect';
import '@riophae/vue-treeselect/dist/vue-treeselect.css'
export default {
    mixins: [TranslationMixin],
    
    components: {
        ActivityDaysHoursTable,
        Treeselect,
    },
    data(){
        return {
            /* selectedPostType: 'activity',
            selectedAgeFrom: null,
            selectedAgeTo: null,
            selectedPeriodField: null,
            selectedLevelField: null,
            selectedSportField: null,
            selectedClubField: null,
            selectedInfrastructureField: null,
            daysHoursItems: {},
            queryParam: null, */
            sportField: {},
            infrastructureField: {},
            clubField: {},
            totalPosts: {},
            deletePosts: false,
            loading: true,
            noPosts: false,
            currentPage: 1,
            perPage: 9,
            foundPosts: 1,
            paginatedItems: [],
            showFieldFinish: [],
            showSport: 0,
            showClub: 0,

            formData: {
                'selectedPostType': 'activity',
                'selectedAge': null,
                /* 'selectedAgeTo': null, */
                'selectedPeriodField': null,
                /* 'selectedLevelField': null, */
                'selectedSportField': null,
                'selectedClubField': null,
                /* 'selectedInfrastructureField': null, */
                'daysHoursItems': {},
                /* 'queryParam': null, */
            },
        }
    },
    methods: {
        onSubmit ( evt = null, pageNum ) {
            if( evt ) {
                evt.preventDefault();
            }
            /* let formData = {
                'selectedPostType': this.selectedPostType,
                'selectedAgeFrom': this.selectedAgeFrom ? this.selectedAgeFrom : 0,
                'selectedAgeTo': this.selectedAgeTo ? this.selectedAgeTo : 99,
                'selectedPeriodField': this.selectedPeriodField ? this.selectedPeriodField : '',
                'selectedLevelField': this.selectedLevelField ? this.selectedLevelField: '',
                'selectedSportField': this.selectedSportField ? this.selectedSportField : '',
                'selectedClubField': this.selectedClubField ? this.selectedClubField : '',
                'selectedInfrastructureField': this.selectedInfrastructureField ? this.selectedInfrastructureField : '',
                'daysHoursItems': this.daysHoursItems ? this.daysHoursItems : '',
                'queryParam': this.queryParam ? this.queryParam : '',
                'perPage': this.perPage,
                'currentPage': this.currentPage, 
            }; */
            if( this.deletePosts ) {
                this.totalPosts = {};
                pageNum = this.currentPage = 1;
                this.deletePosts = false;
            }
            if( !this.totalPosts[this.currentPage] ) {
                this.loading = false;
                this.noPosts = false;
                WpApi.getAjax( 'activity_search_form_post', { 'formData': this.formData, 'currentPage': this.currentPage, 'perPage': this.perPage } ).then( res => {
                    const posts = res['data']['data']['posts'];
                    this.foundPosts = res['data']['data']['found_posts'];
                    this.loading = true;
                    if( posts.length <= 0 ) {
                        this.noPosts = true;
                    }
                    this.totalPosts[this.currentPage] = posts;
                    
                    if( !this.totalPosts[this.currentPage + 1] && pageNum === this.currentPage ) {
                        WpApi.getAjax( 'activity_search_form_post', { 'formData': this.formData, 'currentPage': this.currentPage + 1, 'perPage': this.perPage } ).then( res => {
                            const nextPosts = res['data']['data']['posts'];
                            if( !this.totalPosts[this.currentPage + 1] ) {
                                this.totalPosts[this.currentPage + 1] = nextPosts;
                            }
                        });
                    }
                });
            }
            
        },
        getUrlParams() {
            let vars = {};
            let parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function( m, key, value ) {
                vars[key] = value;
            });
            return vars;
        },
        updateURL() {
            if ( history.pushState ) {
                let newurl = window.location.protocol + "//" + window.location.host + window.location.pathname;
                let url = new URL( newurl );
                let params = this.urlParams;
                for ( const param in params ) {
                    if ( params.hasOwnProperty( param ) ) {
                    const value = params[param];
                    url.searchParams.set( param, value );
                    }
                }
                window.history.pushState( {path:url.href},'',url.href );
            }
        },
        addParamsToSearchForm( paramArray ) {
            if( !!paramArray ) {
                for( let key in paramArray ) {
                    if( paramArray.hasOwnProperty( key ) ) {
                        if( key == 'club_id' ) {
                            this.formData.selectedClubField = [ paramArray[key] ];
                        } else if( key == 'sport_id' && paramArray[key] != '' ) {
                            this.formData.selectedSportField = [ paramArray[key] ];
                        } else if( key == 'age' && paramArray[key] != '' ) {
                            this.formData.selectedAge = paramArray[key];
                        }
                        /* } else if( key == 'age_from' && paramArray[key] != '' ) {
                            this.selectedAgeFrom = paramArray[key];
                        } else if( key == 'age_to' && paramArray[key] != '' ) {
                            this.selectedAgeTo = paramArray[key];
                        } */ else if( key == 'period_id' && paramArray[key] != '' ) {
                            this.formData.selectedPeriodField = [ paramArray[key] ];
                        }
                    }
                }
            }
        },
        setDisplayOptions() {
            WpApi.getAjax( 'display_options_vue_form', {} ).then( res => {
                let returnedData = res['data']['data'];
                this.showSport = returnedData['displayOptions']['displaySport'];
                this.showClub = returnedData['displayOptions']['displayClub'];
            });
        },
        showTaxonomies( val ) {
            WpApi.getAjax( 'post_taxonomies_vue_form', { 'postTaxonomy': val } ).then( res => {
                let returnedData = res['data']['data'];
                if( val == 'activitycat' ) {
                    this.periodField = returnedData['taxFields'];
                } else if( val == 'levelcat' ) {
                    this.levelField = returnedData['taxFields'];
                }           
            });
        },
        showFields( val ) {
            WpApi.getAjax( 'post_fields_vue_form', { 'postType': val } ).then( res => {
                let returnedData = res['data']['data'];
                if( val == 'sport' ) {
                    this.sportField = returnedData['postFields'];
                } else if( val == 'infrastructure' ) {
                    this.infrastructureField = returnedData['postFields'];
                } else if( val == 'club' ) {
                    this.clubField = returnedData['postFields'];
                }
                this.showFieldFinish.push( val );
            });
        },
        displaySport( sport ) {
            let result = '';
            if( sport.link != '' ) {
                result += '<a class="sport-name" target="_blank" href="'+sport.link+'">'+ sport.name +'</a>';
            } else if( sport.name != null ) {
                result += sport.name;
            }
            return result;
        },
        displayClub( club ) {
            let result = '';
            if( club.link != '' ) {
                result += '<a class="club-name" target="_blank" href="'+club.link+'">'+ club.name +'</a>';
            } else if( club.name != null ) {
                result += club.name;
            }
            return result;
        },
        checkCategories( catArray ) {
            if( catArray.length > 0 ) {
                return true;
            } else {
                return false;
            }
        },
        displayCategories( catArray ) {
            let result = '';
            catArray.forEach( function (e) {
                result += '<a class="discipline-name" target="_blank" href="../'+e.taxonomy+'/'+e.slug+'">' + e.name + '</a>';
                if( catArray.indexOf(e) != catArray.length - 1 ) {
                    result += ', ';
                }
            });
            return result;
        },
        checkDays( daysArray ) {
            if( Object.keys(daysArray).length > 0 ) {
                return true;
            } else {
                return false;
            }
        },
        displayDays( daysArray ) {
            let result = '';
            let daysCount = 0;
            let thisElement = this;
            Object.keys(daysArray).forEach( function (days) {
                result += '<span class="discipline-days">'+days;
                if( Array.isArray( daysArray[days] ) ) {
                    daysArray[days].forEach( function( hours ) {
                        result += hours;
                        if( hours !== daysArray[days][daysArray[days].length - 1] ){
                            result += ', ';
                        }
                        daysCount++;
                    });
                } else if( typeof daysArray[days] === 'object' && daysArray[days] !== null ) {
                    let daysArrayAux = Object.keys(daysArray[days]).map(function(key) {
                        return [daysArray[days][key]];
                    });
                    daysArrayAux.forEach( function( hours ) {
                        result += hours;
                        if( hours !== daysArrayAux[daysArrayAux.length - 1] ) {
                            result += ', ';
                        }
                        daysCount++;
                    });
                } else {
                    result += ' - '+daysArray[days];
                    daysCount++;
                }
                result += '</span>';
                if( daysCount >= 5 ) {
                    result = '<span class="discipline-days">'+thisElement.multipleDaysText()+'</span>';
                }
            });
            return result;
        },
        checkInfrastructure( infrastructure ) {
            if( infrastructure.link != false || ( infrastructure.name != null && infrastructure.name != '' ) ) {
                return true;
            } else {
                return false;
            }
        },
        displayInfrastructures( infrastructure ) {
            let result = '';
            if( infrastructure.link != '' ) {
                result += '<a class="infrastructure-name" target="_blank" href="'+infrastructure.link+'">'+ infrastructure.name +'</a>';
            } else if( infrastructure.name != null ) {
                result += infrastructure.name;
            }
            return result;
        },
        multipleDaysText() {
            return this.translate('Multiple days');
        },
    },
    computed: {
        beforeMountFinish() {
            let bool = true;
            let values = [ 'club', 'sport' ];
            values.forEach( element => {
                if( !this.showFieldFinish.includes( element ) ){
                    bool = false;
                }
            });
            return bool;
        },
        /* pageCount() {
            let l = this.posts.length;
            let s = this.perPage;
            return Math.floor(l / s);
        }, */
        /* currentPageItems() {
            let lengthAll = this.posts.length;
            this.nbPages = 0;
            for( let i = 0; i < lengthAll; i = i + this.perPage ) {
                this.paginatedItems[this.nbPages] = this.posts.slice( i, i + this.perPage );
                this.nbPages++;
            }
            return this.paginatedItems[this.currentPage - 1];
        }, */
        noOptionsText() {
            return this.translate('No options available');
        },
        sportPlaceholder() {
            return this.translate('Sport');
        },
        /* ageFromPlaceholder() {
            return this.translate('Age from');
        },
        ageToPlaceholder() {
            return this.translate('Age to');
        }, */
        levelPlaceholder() {
            return this.translate('Level');
        },
        periodPlaceholder() {
            return this.translate('Period');
        },
        clubPlaceholder() {
            return this.translate('Club');
        },
        firstText() {
            return this.translate('First');
        },
        previousText() {
            return this.translate('Previous');
        },
        nextText() {
            return this.translate('Next');
        },
        lastText() {
            return this.translate('Last');
        },
    },
    beforeMount() {
        this.showFieldFinish = [];
        this.showFields( 'sport' );
        this.showFields( 'club' );
        this.showTaxonomies( 'activitycat' );
        this.setDisplayOptions();
        /* this.showTaxonomies( 'levelcat' ); */
    },
    watch: {
        beforeMountFinish: function( val, oldVal ) {
            if( this.beforeMountFinish ) {
                let queryParams = this.getUrlParams();
                this.addParamsToSearchForm( queryParams );
                this.onSubmit();
            }
        },
        currentPage: function( val, oldVal ) {
            this.onSubmit();
        },
        formData: {
            handler: function( val, oldVal ) {
                this.deletePosts = true;
            },
            deep: true,
        }
    }
}
</script>

<style>
    .wrapper-activity-form-card {
        display: flex;
    }
    .activity-card {
        margin: 0 0 15px 0 !important;
    }
    .activity-card img {
        max-height: 250px;
        height: 250px;
        object-fit: cover;
    }
    .activity-search-form-title {
        font-size: 1.1rem;
        padding: 0px 5px;
    }
    .container-margin{
        padding: 0px;
    }
    .align-center {
        text-align: center;
    }
    .align-right {
        text-align: right;
    }
    .submit-button:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        content: "\f002";
        margin-right: 10px; 
    }
    .card-period:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 400;
        content: "\f073";
        margin-right: 5px;
    }
    .card-date:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 400;
        content: "\f017";
        margin-right: 5px;
    }
    .card-infrastructure:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        content: "\f3c5";
        margin-right: 5px;
    }
    .discipline-days-separator:last-child {
        display: none;
    }
    @media screen and ( max-width: 1250px ) {
        .activity-card {
            flex: 0 0 48% !important;
            margin: 0 0 15px 0 !important;
        }
    }
    @media screen and ( max-width: 768px ) {
        .activity-card {
            flex: 0 0 100% !important;
            margin: 0 0 15px 0 !important;
        }
    }
</style>